@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya&display=swap');

.hidden {
  display: none;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

body {
  background: radial-gradient(circle, rgb(147, 202, 181) 0%, rgb(76, 126, 82) 100%);
  color: #0e4e2b;
  font-family: 'Noto Serif Oriya', serif;
}

#money {
  text-align: center;
  margin: 15px;
  background: radial-gradient(circle, rgb(96, 160, 103) 0%, rgb(163, 222, 199) 100%);
  padding: 20px;
}

img {
  width: 40%;
  position: absolute;
  top: 300px;
  right: 1px;
  height: auto;
}

#submit {
  background-color: #b2ddbb;
  border: none;
  color: #0e4e2b;
  padding: 10px 10px;
}

#reset {
  background-color: #b2ddbb;
  border: none;
  color: #0e4e2b;
  padding: 10px 10px;
}

#currency-amt {
  background-color: #b2ddbb;
  border: none;
  color: #0e4e2b;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  margin: 5px;
}

#currency-name {
  background-color: #b2ddbb;
  border: none;
  color: #0e4e2b;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
}

@media screen and (max-width: 750px) {
  img {
    display: none;
  }
}